@model List<MVCApplication.Product>
@{
    var products = Model;
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">welcome @User.Identity?.Name</h1>
          <h1 class="display-4">Product List</h1> 

  

@if (User.Identity is { IsAuthenticated: true }) 
{
    <p>Block for auth user</p>
}
    

@if (User.IsInRole("Admin")) 
{
    <p>Block for admin only</p>
}   

@if (User.IsInRole("Admin") || User.IsInRole("Support")) 
{
    <p>Block for admin or suport</p>
} 
    <br/>
    <button>
        <a asp-controller="Home" asp-action="InputForm">
            Add product</a>
       
    </button>
   
    <br/>

    <table class="table table-striped">
        
        <tbody>
            <tr>
                <td>ProductId</td>
                <td>ProductName</td>
                <td>Price</td>
                <td>Command</td>
            </tr>

        </tbody>

        <tbody>
            @foreach (var product in Model)
       {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.Price</td>
                
                 <td>
                        <a asp-controller="Home" asp-action="EditProduct"
                       asp-route-id = "@product.ProductId"> Edit product</a>
                     
                 </td>
        </tr>
       }
        </tbody>
    </table>

</div>
